
@charset "utf-8"

@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"



.top
	display: flex
	justify-content: space-between
	height: 2.5rem
	position: relative
	text-align: center
	z-index: 10
	background-color: $primary

.top-left
	white-space: nowrap
	align-items: stretch
	display: flex
	flex-grow: 0
	flex-shrink: 0
	max-width: 100%
	overflow: auto
	color: white
	.phone
		color: white
		font-size: 14px
		display: flex
		align-items: center
		margin-right: 20px
		.fa
			margin-right: 10px
			font-size: 14px
	.email
		color: white
		font-size: 14px
		display: flex
		align-items: center
		.fa
			margin-right: 10px
			font-size: 14px

.top-center
	align-items: stretch
	display: flex
	flex-grow: 1
	flex-shrink: 0
	margin-left: auto
	margin-right: auto
	.control
		.input
			border-radius: 40px
			border: 0
			width: 400px
			height: 2rem
			padding-bottom: 7px

		.icon
			height: 2rem
			.fa
				font-size: 14px



.top-right
	align-items: stretch
	display: flex
	flex-grow: 0
	flex-shrink: 0
	max-width: 100%
	overflow: auto
	.login
  	color: white
  	width: 70px
  	display: flex
  	justify-content: space-between
	.registro
		color: white
		width: 70px
		display: flex
		font-weight: 600
		justify-content: space-between
	.redes
	    border: 2px solid white
	    color: white
	    width: 25px
	    height: 25px
	    border-radius: 40px
	    padding-top: 5px
	    margin-left: 10px
	    &:hover
	    	background-color: white
	    	color: $primary
	    i
	    	font-size: 12px

.top-item
	align-items: center
	display: flex
	flex-grow: 0
	flex-shrink: 0
	font-size: 1rem
	justify-content: center
	line-height: 1.5
	padding: 0.5rem 0.75rem

.nav
	.nav-left
		flex-basis: 80%
	.nav-logo
		display: flex
		align-items: center
		display: flex
		flex-grow: 0
		flex-shrink: 0
		font-size: 1rem
		justify-content: center
		line-height: 1.5
		padding: 0.5rem 0.75rem
		.logo
			width: 180px
			height: 100%
		img
			max-height: 100%

	.nav-right
		flex-basis: 20%
		overflow: inherit
		.select
			select
				border: 0
				color: #7a7a7a

		.paises
			position: relative

		.items
			position: absolute
			bottom: -105px
			right: 0
			width: 200px
			background-color: white
			display: none
			box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2)

			li
				&:last-child
					border-bottom: 2px solid $primary
				a
				display: flex
				justify-content: space-between
				border-bottom: 1px solid #d1d1d1
				padding: 5px
				align-items: center
				img
					margin-right: 10px
					height: 16px
					width: 25px
	a
		&:hover
			color: $primary
		i.fa
			margin-right: 10px
			font-size: 14px
			color: $primary

.open
	display: block !important

.banner
	background-image: url(/img/banner.jpg)
	background-position: center
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	.title
		font-size: 3rem
		text-align: center
		color: white
		font-weight: 400
		span
			color: $danger
			font-weight: 400

	.subtitle
	    text-align: center
	    color: white

	.travel
		background-color: rgba(0, 0, 0, 0.42)
		width: 100%
		padding: 2em
		margin-top: 50px

		.tabs
			li
				margin-right: 5px
				&:first-child a
					border-radius: 0
					border: 2px solid $primary
				&:last-child a
					border-radius: 0
				a
					color: white
					border: 2px solid white
					&:hover
						background-color: $primary
						border: 2px solid $primary

		.form
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			.field

			.label
				color: white
				font-weight: 300

			.input
				border: 2px solid white
				background: transparent
				border-radius: 0
				color: white
				&:focus ~
					.icon
						color: $primary
			.icon
				top: 32px
				.fa
					font-size: 18px

			.button
				width: 160px
				border-radius: 0
				margin-top: 32px

			.select
				width: 100%
				select
					border-radius: 0
					width: 100%

	#input_from,
	#input_to
		cursor: pointer


.gallery
	padding: 50px
	.gallery-title
		text-align: center
		font-size: 22px
		color: $primary
	.gallery-subtitle
		font-size: 36px
		font-weight: 600
		text-align: center
		margin-bottom: 50px
		text-transform: uppercase
	.card
		.title
			font-weight: 400
		.card-image
			.image
				position: relative
				height: 250px
				img
					height: 100%
				.sale
					background-color: $danger
					position: absolute
					top: 10px
					left: 0
					border-radius: 0 0 10px
					text-align: center
					color: white
					padding: 5px
					box-shadow: -2px 2px 5px rgba(0,0,0,0.3)
				.group-icon
					background-color: rgba(0, 0, 0, 0.4)
					position: absolute
					bottom: 0
					right: 0
					width: 70px
					display: flex
					justify-content: space-between
					color: white
					padding: 5px
					.fa
						&:hover
							color: #EDDD10
		.read-more
			width: 100%
			display: flex
			justify-content: space-between
			.comment
				display: flex
				align-items: center
				color: #b3b2b2
				padding: 0 20px
				.fa
					margin-right: 10px
			a
				height: 40px
				display: block
				background-color: #00d1b2
				width: 150px
				color: white
				padding: 8px 19px
				text-transform: uppercase
				text-align: center
				position: relative
				&:hover
					background-color: mix($primary, white, 90%)
				&:after
					position: absolute
					top: 0
					left: 0
					content: ""
					width: 10px
					height: 10px
					border-top: 20px solid transparent
					border-left: 20px solid white
					border-bottom: 20px solid transparent
